* {
  box-sizing: border-box;
}

@media only screen and (max-width:1024px) {

  /*Tablets*/

a{
  text-decoration: none;
  font-size: 150%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
  color:#e6e6e6;
}

#table1{
  width: 100%;
}

#navbar1{
  width: 15%;
  text-align: left;
}

#navbar2{
  width: 20%;
  text-align: left;
}

#nomehome{
  margin-right: 20px;
  margin-left: 124px;
  font-weight: bold;
}

#nomequemsomos{
  margin-right: 20px;
  font-weight: bold;
}

#nomecardapio{
  margin-right: 20px;
  margin-left: 100px;
  font-weight: bold;
}

#nomecontato{
  margin-right: 0px;
  font-weight: bold;
}

#logo-casaitalia {
  width: 70%;
  margin-left: 45px;
}

#nomequemsomos2{
  margin-left: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  text-shadow: 2px 2px #e6e6e6;
}

.textoquemsomos{
  margin-left: 80px;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  font-size: 100%;
}

#fachada-casaitalia-mobile{
  display: none;
}

#fachada-casaitalia{
  width: 380px;
  border-radius: 5%;
}

#nomecardapio2{
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px #39ac39;
}

#linha1-descktop{
  display: none;
}

#linha2-descktop{
  display: none;
}

#linha1-tablet{
  display: block;
}

#linha2-tablet{
  display: block;
}

#linha3-tablet{
  display: block;
}

#linha1-smartphone{
  display: none;
}

#linha2-smartphone{
  display: none;
}

#linha3-smartphone{
  display: none;
}

#linha4-smartphone{
  display: none;
}

#linha5-smartphone{
  display: none;
}

#linha6-smartphone{
  display: none;
}


.icones{
  border-radius: 5%;
  background-color: #39ac39;
  border: 7px solid #e6e6e6;
}

.nomedosicones{
  font-size: 130%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #e6e6e6;
}

#file-vo-laercio{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#file-sertao{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#pavarotti-salmon{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#camarao-grega{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#salmao-tariake{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#filet-france{
  border-radius: 5%;
  width: 330px;
  height: 300px;
  margin-top: 5%;
}

#nomecontato2{
  margin-left: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  text-shadow: 2px 2px #e6e6e6;
}

#espaco-casaitalia-mobile{
  display: none;
}

#espaco-casaitalia{
  width: 80%;
  margin-top: 5%;
  border-radius: 5%;
  margin-bottom: 5%;
}

}
